[[$head]]
</head>
<body class="frontpage">
[[$top]]
<section id="me">
    <div id="me-image">
        <img src="assets/images/me.png" alt="OptimusCrime" />
    </div>
    <div id="me-text">
        <h3>[[*introtext]]</h3>
        [[*content]]
    </div>
</section>
<section id="blog">
    <article>
        <h3>Blog title</h3>
        <div class="blog-meta">
            posted on April 6th, 2011 with <a href="#">2 comments</a>
        </div>
        <p>Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor, lectus at dapibus egestas, tellus ipsum rhoncus orci, eu vestibulum nisi orci quis nunc. Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus.</p>
        <p>Curabitur tempus arcu ac massa vulputate fermentum at non nisi. Cras non massa ipsum, lobortis cursus purus. Curabitur sed vestibulum diam. Praesent turpis elit, ultricies eget pellentesque quis, tempor id sapien. Morbi accumsan nulla ac urna elementum dapibus. Phasellus eu felis orci, sit amet placerat eros. Sed aliquet iaculis nisi id convallis. Suspendisse id enim et turpis faucibus consectetur. Curabitur tempus arcu ac massa vulputate fermentum at non nisi. Cras non massa ipsum, lobortis cursus purus. Curabitur sed vestibulum diam. Praesent turpis elit, ultricies eget pellentesque quis, tempor id sapien. Morbi accumsan nulla ac urna elementum dapibus. Phasellus eu felis orci, sit amet placerat eros. Sed aliquet iaculis nisi id convallis. Suspendisse id enim et turpis faucibus consectetur.  </p>
        <a class="more" href="index.html#blog">Read more</a>
    </article>
</section>
[[$footer]]